
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <aside class="left-sidebar" data-sidebarbg="skin6" style="margin-top: 9%">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" style="margin-top: -30%">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <!-- User Profile-->
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       [routerLink]="['/shop']" aria-expanded="false"><i style="color: #00bcd4; font-weight: bold" class="me-3 far fa-clock fa-fw"
                                                                                         aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       [routerLink]="['/profile']"  aria-expanded="false">
            <i style="color: orangered; font-weight: bold"  class="me-3 fa fa-user" aria-hidden="true"></i><span
            class="hide-menu">Profile</span></a>
          </li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       [routerLink]="['/history']"  aria-expanded="false">
            <i style="color: #00bfa5; font-weight: bold"  class="me-3 fas fa-list-alt" aria-hidden="true"></i><span
            class="hide-menu">History</span></a>
          </li>

        </ul>

      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="page-title mb-0 p-0">Profile</h3>
          <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-6 col-4 align-self-center">
          <div class="text-end upgrade-btn">
            <img style="width: 10%; height: 10%" src="../../../assets/img.png">
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- Row -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
          <div class="card">
            <div class="card-body profile-card">
              <div class="mt-4"> <img src="../../../assets/imgAdmin/5.png"
                                         class="rounded-circle" width="150" />
                <h4 class="card-title mt-2">{{profileOne.name}}</h4>
                <h6 class="card-subtitle">User</h6>
                <div class="row justify-content-center">
                  <div class="col-4">
                    <a href="javascript:void(0)" class="link">
                      <i class="icon-people" aria-hidden="true"></i>
                      <span class="font-normal">254</span>
                    </a></div>
                  <div class="col-4">
                    <a href="javascript:void(0)" class="link">
                      <i class="icon-picture" aria-hidden="true"></i>
                      <span class="font-normal">54</span>
                    </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
          <div class="card">
            <div class="card-body">
              <form class="form-horizontal form-material mx-2" method="POST" role="form" [formGroup]="FromProfile" (ngSubmit)="onUpdateProfile()" >
                <div class="form-group">
                  <label class="col-md-12 mb-0">Full Name</label>
                  <div class="col-md-12">
<!--                    placeholder="{{profileOne.fullName}}"-->
                    <input type="text"
                           class="form-control ps-0 form-control-line" formControlName="name" value="{{profileOne.name}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Email</label>
                  <div class="col-md-12">
<!--                    formControlName="email"-->
                    <input disabled
                           class="form-control ps-0 form-control-line"
                           id="example-email" value="{{profileOne.email}}" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12 mb-0">Password</label>
                  <div class="col-md-12">
<!--                    type="password"-->
                    <input disabled
                           class="form-control ps-0 form-control-line" value="{{loginOne.password}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12 mb-0">Phone No</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="{{profileOne.phoneNo}}"
                           class="form-control ps-0 form-control-line" formControlName="phoneNo" value="{{profileOne.phoneNo}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12 mb-0">Message</label>
                  <div class="col-md-12">
                    <textarea formControlName="message" rows="5" placeholder="{{profileOne.message}}" class="form-control ps-0 form-control-line">{{profileOne.message}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12">Select Country</label>
                  <div class="col-sm-12 border-bottom">
                    <select formControlName="selectCountry"
                            class="form-select shadow-none border-0 ps-0 form-control-line" >
                      {{profileOne.selectCountry}}
                      <option>London</option>
                      <option>India</option>
                      <option>Usa</option>
                      <option>Canada</option>
                      <option>Thailand</option>
                      <option>England</option>
                      <option>Vietnam</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 d-flex">
                    <button type="submit"  class="btn btn-success mx-auto mx-md-0 text-white">Update Profile</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</div>
