
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
<!--  <header class="topbar" data-navbarbg="skin6">-->
<!--    <nav class="navbar top-navbar navbar-expand-md navbar-dark">-->
<!--      <div class="navbar-header" data-logobg="skin6">-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; Logo &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        <a class="navbar-brand" href="index.html">-->
<!--          &lt;!&ndash; Logo icon &ndash;&gt;-->
<!--          <b class="logo-icon">-->
<!--            &lt;!&ndash;You can put here icon as well // <i class="wi wi-sunset"></i> //&ndash;&gt;-->
<!--            &lt;!&ndash; Dark Logo icon &ndash;&gt;-->
<!--            <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />-->

<!--          </b>-->
<!--          &lt;!&ndash;End Logo icon &ndash;&gt;-->
<!--          &lt;!&ndash; Logo text &ndash;&gt;-->
<!--          <span class="logo-text">-->
<!--                            &lt;!&ndash; dark Logo text &ndash;&gt;-->
<!--                            <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />-->

<!--                        </span>-->
<!--        </a>-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; End Logo &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; toggle and nav items &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"-->
<!--           href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>-->
<!--      </div>-->
<!--      &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--      &lt;!&ndash; End Logo &ndash;&gt;-->
<!--      &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--      <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">-->

<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; toggle and nav items &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        <ul class="navbar-nav me-auto mt-md-0 ">-->
<!--          &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--          &lt;!&ndash; Search &ndash;&gt;-->
<!--          &lt;!&ndash; ============================================================== &ndash;&gt;-->

<!--          <li class="nav-item hidden-sm-down">-->
<!--            <form class="app-search ps-3">-->
<!--              <input type="text" class="form-control" placeholder="Search for..."> <a-->
<!--              class="srh-btn"><i class="ti-search"></i></a>-->
<!--            </form>-->
<!--          </li>-->
<!--        </ul>-->

<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        &lt;!&ndash; Right side toggle and nav items &ndash;&gt;-->
<!--        &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--        <ul class="navbar-nav">-->
<!--          &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--          &lt;!&ndash; User profile and search &ndash;&gt;-->
<!--          &lt;!&ndash; ============================================================== &ndash;&gt;-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              <img src="../assets/images/users/1.jpg" alt="user" class="profile-pic me-2">Markarn Doe-->
<!--            </a>-->
<!--            <ul class="dropdown-menu show" aria-labelledby="navbarDropdown"></ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </header>-->
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar" data-sidebarbg="skin6" style="margin-top: 9%">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" style="margin-top: -30%">

      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <!-- User Profile-->
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="index.html" aria-expanded="false"><i class="me-3 far fa-clock fa-fw"
                                                                                  aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="pages-profile.html" aria-expanded="false">
            <i class="me-3 fa fa-user" aria-hidden="true"></i><span
            class="hide-menu">Profile</span></a>
          </li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="table-basic.html" aria-expanded="false"><i class="me-3 fa fa-table"
                                                                                        aria-hidden="true"></i><span class="hide-menu">Table</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="icon-fontawesome.html" aria-expanded="false"><i class="me-3 fa fa-font"
                                                                                             aria-hidden="true"></i><span class="hide-menu">Icon</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="map-google.html" aria-expanded="false"><i class="me-3 fa fa-globe"
                                                                                       aria-hidden="true"></i><span class="hide-menu">Google Map</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="pages-blank.html" aria-expanded="false"><i class="me-3 fa fa-columns"
                                                                                        aria-hidden="true"></i><span class="hide-menu">Blank</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       href="pages-error-404.html" aria-expanded="false"><i class="me-3 fa fa-info-circle"
                                                                                            aria-hidden="true"></i><span class="hide-menu">Error 404</span></a></li>
          <li class="text-center p-20 upgrade-btn">
            <a href="https://www.wrappixel.com/templates/monsteradmin/"
               class="btn btn-danger text-white mt-4" target="_blank">Upgrade to
              Pro</a>
          </li>
        </ul>

      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="page-title mb-0 p-0">Profile</h3>
          <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-6 col-4 align-self-center">
          <div class="text-end upgrade-btn">
            <a href="https://www.wrappixel.com/templates/monsteradmin/"
               class="btn btn-success d-none d-md-inline-block text-white" target="_blank">Upgrade to Pro</a>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <!-- Row -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
          <div class="card">
            <div class="card-body profile-card">
              <div class="mt-4"> <img src="../../../assets/imgAdmin/5.png"
                                         class="rounded-circle" width="150" />
                <h4 class="card-title mt-2">{{profileOne.name}}</h4>
                <h6 class="card-subtitle">User</h6>
                <div class="row justify-content-center">
                  <div class="col-4">
                    <a href="javascript:void(0)" class="link">
                      <i class="icon-people" aria-hidden="true"></i>
                      <span class="font-normal">254</span>
                    </a></div>
                  <div class="col-4">
                    <a href="javascript:void(0)" class="link">
                      <i class="icon-picture" aria-hidden="true"></i>
                      <span class="font-normal">54</span>
                    </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
          <div class="card">
            <div class="card-body">
              <form class="form-horizontal form-material mx-2" method="POST" role="form" [formGroup]="FromProfile" (ngSubmit)="onUpdateProfile()" >
                <div class="form-group">
                  <label class="col-md-12 mb-0">Full Name</label>
                  <div class="col-md-12">
<!--                    placeholder="{{profileOne.fullName}}"-->
                    <input type="text"
                           class="form-control ps-0 form-control-line" formControlName="name" value="{{profileOne.name}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="example-email" class="col-md-12">Email</label>
                  <div class="col-md-12">
<!--                    formControlName="email"-->
                    <input disabled
                           class="form-control ps-0 form-control-line"
                           id="example-email" value="{{profileOne.email}}" >
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12 mb-0">Password</label>
                  <div class="col-md-12">
<!--                    type="password"-->
                    <input disabled
                           class="form-control ps-0 form-control-line" value="{{loginOne.password}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12 mb-0">Phone No</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="{{profileOne.phoneNo}}"
                           class="form-control ps-0 form-control-line" formControlName="phoneNo" value="{{profileOne.phoneNo}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-12 mb-0">Message</label>
                  <div class="col-md-12">
                    <textarea formControlName="message" rows="5" placeholder="{{profileOne.message}}" class="form-control ps-0 form-control-line">{{profileOne.message}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-12">Select Country</label>
                  <div class="col-sm-12 border-bottom">
                    <select formControlName="selectCountry"
                            class="form-select shadow-none border-0 ps-0 form-control-line" >
                      {{profileOne.selectCountry}}
                      <option>London</option>
                      <option>India</option>
                      <option>Usa</option>
                      <option>Canada</option>
                      <option>Thailand</option>
                      <option>England</option>
                      <option>Vietnam</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 d-flex">
                    <button type="submit"  class="btn btn-success mx-auto mx-md-0 text-white">Update
                      Profile</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
      <!-- Row -->
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
