
<!--<div id="my-signin2">GOOGLE</div>-->

<button (click)="signIn()" *ngIf = "user == null">GOOGLE SIGNIN</button>
<button (click)="signOut()" *ngIf="user != null">GOOGLE SIGNOUT</button>
<div *ngIf="user == null">
<!--  <div>Your are signed in with Google! {{user.getBasicProfile()}}</div>-->
    <div>Your are signed out with Google!</div>
</div>
<div *ngIf="user != null">
    <div>Your are signed in with Google! :)))){{user.getBasicProfile().getName()}}</div>
<!--  <div>Your are signed out with Google!</div>-->
</div>

<!-- 2 - SendMail-->
<!--<p>-->
<!--  {{title}}-->
<!--</p>-->
<!--<button (click)="signIn('Google');">Sign In With Google </button>-->
<!--<br><br>-->
<!--<button (click)="signOut2()">Sign Out</button>-->
<!--<br><br>-->

<!--<div *ngIf="user">-->
<!--&lt;!&ndash;  <img src="{{user.photo}}">&ndash;&gt;-->
<!--  <h4>{{user.getBasicProfile().getName()}}</h4>-->
<!--  <p>{{user.getBasicProfile().getEmail()}}</p>-->
<!--</div>-->

<div class="container">
  <div class="formWraper">

    <!-- Left section of responsive registration form -->

    <div class="formDiv">
      <h2>Sign In</h2>
      <p class="text"> Sign In with Social Media</p>

      <!-- Font Awesome Icons -->
      <div class="socialBtn">
        <div class="facebook icon"><i class="fab fa-facebook-f"></i></div>
        <div class="twitter icon"><i class="fab fa-twitter"></i></div>
        <div class="google icon"><i (click)="signIn()" class="fab fa-google"></i></div>
      </div>

      <!--Horizontal Line-->
      <hr>
      <div class="orDiv">Or</div>
      <form action="" method="POST" role="form" [formGroup]="FromLogin" (ngSubmit)="onLogin()" >
<!--        onSubmit()-->
<!--      <form action="" method="POST" role="form" [formGroup]="FromLogin" (ngSubmit)="onSubmit()" >-->
        <p class="text">Sign In with Email Address</p>
        <div class="formGroup">
          <i style="margin-top: 1%" class="far fa-envelope"></i>
          <input required class="form-control" formControlName="email" type="email" name="email" id="email" placeholder="Email" value="" >
        </div>
        <div class="formGroup">
          <i style="margin-top: 1%" class="fas fa-lock"></i>
          <input required class="form-control" formControlName="password" type="password" name="password" id="password" value="" placeholder="Password" >
        </div>
        <a class="forgetPassword" [routerLink]="['/forgetPassword']" style="margin-bottom: -1%;font-size: 85%; font-weight: normal">
          Forgot Password
        </a>
          <button (click)="register()" type="submit" class="btn">SIGN IN</button>

      </form>
    </div>

    <!-- Right section of responsive registration form -->
    <div class="welcomeDiv">
      <h2 style="color: black; font-weight: bold">Welcome Back!</h2>
      <p style="color: black; font-weight: bold" class="text">Get in touch with us for our news letter and more updates.</p>
      <a [routerLink]="['/register']">
        <button style="border: 5px solid #2b9683 ;color: white; font-weight: bold" class="btn2">SIGN UP</button>
      </a>
    </div>


  </div>
</div>
