
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
   <!-- ============================================================== -->
  <aside class="left-sidebar" data-sidebarbg="skin6" style="margin-top: 9%">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" style="margin-top: -30%">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <!-- User Profile-->
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       [routerLink]="['/shop']" aria-expanded="false"><i style="color: #00bcd4; font-weight: bold" class="me-3 far fa-clock fa-fw"
                                                                                  aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a></li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       [routerLink]="['/profile']"  aria-expanded="false">
            <i style="color: orangered; font-weight: bold"  class="me-3 fa fa-user" aria-hidden="true"></i><span
            class="hide-menu">Profile</span></a>
          </li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                       [routerLink]="['/history']"  aria-expanded="false">
            <i style="color: #00bfa5; font-weight: bold"  class="me-3 fas fa-list-alt" aria-hidden="true"></i><span
            class="hide-menu">History</span></a>
          </li>

        </ul>

      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
          <h3 class="page-title mb-0 p-0">Dashboard</h3>
          <div class="d-flex align-items-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']" >Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-6 col-4 align-self-center">
          <div class="text-end upgrade-btn">
           <img style="width: 10%; height: 10%" src="../../../assets/img.png">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!--      ADD CHAR -->

<form style="margin-left: 50%; margin-bottom: 50%" class="form-horizontal form-material mx-2" method="POST" role="form" [formGroup]="FromDate" (ngSubmit)="onSubmitDate()" >
  <!--    <form action="">-->
  <div style="margin-left: 50%">
    <h6 style="font-weight: bold; margin-bottom: 3%" >Birthday (date and time)</h6>
    <input style="margin-left: 1%" type="date" formControlName="date" name="bdaytime">
    <input type="submit" value="Send">
  </div>



  <div class="box">
    <div class="skill" style="margin-right: -20%">
            <div style="margin-top: -46% ; margin-bottom: 50%" class="money">
              <div class="name1">Turnover ($)</div>
              <div class="brick"></div>
            </div>
              <div class="money">
                <div class="name1">50000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">45000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">40000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">35000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">30000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">25000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">20000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">15000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">10000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">5000</div>
                <div class="brick">-----</div>
              </div>
              <div class="money">
                <div class="name1">0</div>
                <div class="brick">-----</div>
              </div>
    </div>

    <div class="skill" *ngFor="let bill of billingList" >
<!--      <div *ngIf="onSubmitOrderDate(bill.id, bill.orderDate)" class="graph" style="height:{{onTurnover(bill.totalMoney)}}%">-->
      <div class="graph" style="height:{{onTurnover(bill.totalMoney)}}%">
        <div class="percent">{{bill.totalMoney}}</div>
      </div>
      <div class="name">{{bill.orderDate}}</div>
    </div>

    <div class="skill">
      <div class="name">Date (yyyy-mm-dd)</div>
    </div>

  </div>
</form>
